{% load static %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
<!--     <link rel="stylesheet" href="{% static 'play_list.css' %}">
 -->    <script src="{% static 'jquery-3.3.1.js' %}"></script>
    <script src="{% static 'play_list.js' %}"></script>
    <style type="text/css">
      #loading {
        margin: auto;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
/*         position: fixed;
*/         display: block;
         opacity: 0.7;
         background-color: #fff;
         z-index: 99;
         text-align: center;
      }

      #loading-image {
/*        position: absolute;
*/        margin: auto;
        top: 100px;
        left: 240px;
        z-index: 100;
      }
    </style>
</head>

{% block content %}
<div id="header" class="w3-blue w3-card-4">
  <header class="w3-bar">
    <div class="w3-center">
      <h1 class="w3-xxlarge w3-opacity w3-wide">SPEAX</h1>
 
      <div class="w3-wide w3-opacity">
        A text-to-speech web-application designed specifically for research papers.
      </div>
    </div>
  </header>
</div>

<div class="w3-container w3-card-4 w3-light-grey w3-text-blue w3-margin">
  
  <div class="w3-center">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
          <span>
            <input type="file" name="myfile">
          </span>
          <button class="w3-button w3-green" type="submit" id="upload_button" onclick="loading_spinner()">CREATE AUDIO TRACKS</button>
    </form>
    <div id="loading">
      <img id="loading-image" src="{% static 'images/ajax-loading-gif-3.gif' %}" alt="Loading..." />
    </div>

    {% if uploaded_file_url %}
    <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
    <p>File type: {{file_type}} </p>
    {% endif %}

    {% if tracks %}
    <audio controls>
      <source src="{{ tracks.0.path }}" type="audio/mpeg">
      Your browser doesn't support the audio element
    </audio>
    <div class="w3-card w3-center w3-margin-top" style="max-width:300px; margin: auto;">
      <ul id="playlist" class="w3-ul w3-card-4 w3-center w3-hoverable w3-white">
        {% for audio_track in tracks %}
          <li><a href="{{ audio_track.path }}">{{ audio_track.name }}</a></li>
        {% endfor %}
      </ul>
    </div>  

    {% endif %}
  </div>
</div>
<script language="javascript" type="text/javascript">
function onReady(callback, tagName) {
    var intervalID = window.setInterval(checkReady, 1000);
    function checkReady() {
        if (document.getElementsByTagName(tagName)[0] !== undefined) {
            window.clearInterval(intervalID);
            callback.call(this);
        }
    }
}

function show(id, value) {
    document.getElementById(id).style.display = value ? 'block' : 'none';
}

onReady(function () {
    show('loading', false);
}, 'body');

function loading_spinner() {
  show('loading', true);
  onReady(function () {
    show('loading', false);
  }, 'audio');
}

</script>

{% endblock %}
